body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  color: #5C6AC4;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 200;
}

.container-fluid {
  background-color: #e0b1cb;
}

/* STAR SHAPE (from Clippy) */

